* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --primary-purple-5: #4B1979;
    --primary-purple-4: #7126B5;
    --primary-purple-3: #A06ECE;
    --primary-purple-2: #D0B7E6;
    --primary-purple-1: #E2D4F0;

    --primary-cream-5: #AA9B87;
    --primary-cream-4: #D4C2A8;
    --primary-cream-3: #FFE9CA;
    --primary-cream-2: #FFF0DC;
    --primary-cream-1: #FFF8ED;

    --color-danger: #FF0000;
    --color-warning: #F9CC00;
    --color-success: #73CA5C;

    --neutral-5: #151515;
    --neutral-4: #3C3C3C;
    --neutral-3: #8A8A8A;
    --neutral-2: #D0D0D0;
    --neutral-1: #FFFFFF;

    --shadow-low: 0px 0px 4px rgba(0, 0, 0, 0.15);
    --shadow-high: 0px 0px 10px rgba(0, 0, 0, 0.15);
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

}

.homepage__container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding-top: 10%;
    color: var(--neutral-5);
}


/* BANNER */
.banner {
    position: relative;
    top: 0;
    left: 0;
    height: 13rem;
    display: flex;
    align-items: center;
}

.banner img {
    width: 80vw;
    position: absolute;
    z-index: -1;
}

.background__banner {
    background-image: linear-gradient(to right, rgba(113, 38, 181, 0.5), var(--primary-purple-1));
    width: 100%;
    margin-left: -10rem;
    padding: 0 33rem; 
    height: 100px;
    z-index: -5;

}

@media screen and (max-width: 1024px) {
    .homepage__container {
        width: var(--container-width-md);
        padding-top: 10%;
    }
}