
.homepage__container {
    width: var(--container-width-lg);
    margin: 0 auto;
    padding-top: 10%;
    color: var(--neutral-5);
}


/* BANNER */
.banner {
    position: relative;
    top: 0;
    left: 0;
    height: 13rem;
    display: flex;
    align-items: center;
}

.banner img {
    width: 80vw;
    position: absolute;
    z-index: -1;
}

.background__banner {
    background-image: linear-gradient(to right, rgba(113, 38, 181, 0.5), var(--primary-purple-1));
    width: 100%;
    margin-left: -10rem;
    padding: 0 33rem; 
    height: 100px;
    z-index: -5;

}
@media screen and (max-width: 1024px) {
    .homepage__container {
        width: var(--container-width-md);
        padding-top: 10%;
    }
}